@font-face
{
    font-family: nazanin;
    src: url(./font/B_NAZANIN/B-NAZANIN.TTF);
}

*
{
    direction: rtl;
    font-family:nazanin;
    box-sizing: border-box;
}

body
{
    font-size: 16px;
    margin: 0px;
}

a
{
    text-decoration: none;
}

header
{
    font-size: 1em;
}

/*Navbar*/

header nav
{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    font-size: 1em;
}

header nav .navr
{
    display: flex;
    align-items: center;
}

header nav .navr a
{
    color: #444;
    padding: 5px 10px;
    margin: 0px 5px;
    font-size: 1.1em;
}

header nav .navl .login
{
    border: 10x solid #666;
    padding: 5px 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav .navl .login i
{
    margin: 7px;
    color: #444;
}

header nav .navl .login a
{
    color: #444;
    margin: opx 10px;
}

/*End of Navbar*/

/*Slidershow*/

.slider
{
    position: relative;
    font-size: 1em;
}

.slider .slide .item
{
    position: relative;
    display: none;
}

.slider .slide .item img
{
    width: 1210px;
    height: 500px;
}

.slider .slide .item span
{
    position: absolute;
    z-index: 1;
    right: 10%;
    top: 70%;
    font-size: 1.5em;
    color: white;
}

.slider .slide .active
{
    display: block;
    animation-name: fadein;
    animation-duration: 2s;
}

.slider .button
{
    position: absolute;
    bottom: 30px;
    left: 40px;
    z-index: 1;
}

.slider .button i
{
    color:white;
    margin-right: 5px;
    cursor: pointer;
    transition: all .3;
}

.slider .button i:hover
{
    color:rgba(255, 255, 255, .5) ;
    margin-right: 5px;
    cursor: pointer;
}

@-webkit-keyframes fadein
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

@keyframes fadein
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

.fadein
{
    -webkit-animation-name: fadein;
    animation-name: fadein;
}
/*End of Slidershow*/