@font-face
{
    font-family: nazanin;
    src: url(./font/B_NAZANIN/B-NAZANIN.TTF);
}

*
{
    direction: rtl;
    font-family:nazanin;
    box-sizing: border-box;
}

body
{
    font-size: 16px;
    margin: 0px;
}

a
{
    text-decoration: none;
}

header
{
    font-size: 1em;
}

/*Navbar*/

header nav
{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    font-size: 1em;
}

header nav .navr
{
    display: flex;
    align-items: center;
}

header nav .navr a
{
    color: #444;
    padding: 5px 10px;
    margin: 0px 5px;
    font-size: 1.1em;
}

header nav .navl .login
{
    border: 10x solid #666;
    padding: 5px 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav .navl .login i
{
    margin: 7px;
    color: #444;
}

header nav .navl .login a
{
    color: #444;
    margin: opx 10px;
}

/*End of Navbar*/

/*Slidershow*/

.slider
{
    background-color: #02183370;
    position: relative;
    font-size: 1em;
}

.slider .slide .item
{
    position: relative;
    display: none;
}

.slider .slide .item img
{
    width: 50%;
}

.slider .slide .item span
{
    position: absolute;
    z-index: 1;
    right: 10%;
    top: 50%;
    font-size: 1.5em;
    color: white;
}

.slider .slide .active
{
    display: block;
    animation-name: fadein;
    animation-duration: 2s;
}

.slider .button
{
    position: absolute;
    bottom: 30px;
    left: 40px;
    z-index: 1;
}

.slider .button i
{
    color:white;
    margin-right: 5px;
    cursor: pointer;
    transition: all .3;
}

.slider .button i:hover
{
    color:rgba(255, 255, 255, .5) ;
    margin-right: 5px;
    cursor: pointer;
}

@-webkit-keyframes fadein
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

@keyframes fadein
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

.fadein
{
    -webkit-animation-name: fadein;
    animation-name: fadein;
}
/*End of Slidershow*/

/*Cart*/
.home-page 
{
    padding: 20px 10px;
    font-size: 1em;
}

.home-page .shopCart
{
    text-align: center;
    margin: 10px 15px;
    border-radius: 10px;
    padding: 10px;
    transition: all 1s;
}

.home-page .shopCart:hover
{
    box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.772);
}

.shopCart .imgSec
{
    position: relative;
}

.shopCart .imgSec img
{
    width: 60%;
}

.shopCart .imgSec .star
{
    position: absolute;
    left: -10px;
    top: -10px;
    color: yellow;
}

.shopCart .imgSec .offer
{
    background-color:#e74c3c ;
    color: white;
    padding: 3px 5px;
    border-radius: 5px;
    position: absolute;
    right: -10px;
    top: -10px;
    font-size: .8em;
}

.shopCart .title
{
    color: #333;
    font-size: 1em;
    margin: 15px;
    font-weight: bold;
}

.shopCart .buttons
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

.shopCart .buttons .right .price
{
    color: #666;
    font-weight: bold;
}

.shopCart .buttons .left
{
    display: flex;
}

.shopCart .buttons .left .btn
{
    display: flex;
    margin-left: 5px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(221, 198, 49);
    color: white;
    width: 40px;
    padding: 8px 12px;
    border-radius: 25px;
    cursor: pointer;
    transition: 1s;
}

.shopCart .buttons .left .btn:hover
{
    width: 100px;
}

.shopCart .buttons .left .btn:hover .b-text
{
    display: block;
}

.shopCart .buttons .left .btn .b-text
{
    display: none;
    color: white;
}

.shopCart .buttons .left .btn .b-icon
{
    color: white;
    padding-top: 3px;
}

.shopCart .buttons .left .btn .b-text:hover
{
    display: none;
    color: white;
}
/*End of Cart*/

/*Special Offer*/
.supperOffer
{
    padding: 20px;
    font-size: 1em;
}

.supperOfferBox
{
    text-align: center;
    box-shadow: 0px 2px 8px 0px rgba(255, 255, 255, 0.788);
    border-radius: 5px;
    margin: 0px 10px;
}

.supperOfferBox .titlee
{
    background-color: black;
    color: white;
    padding: 8px 30px;
    display: inline-block;
    border-bottom-right-radius:20px ;
    border-bottom-left-radius: 20px;
}

.supperOfferBox .body .imgContainer
{
    text-align: center;
    padding: 30px;
}

.supperOfferBox .body .imgContainer img
{
    width: 300px;
    height: 300px;
}

.supperOfferBox .body .spesification
{
    padding: 30px 5px;
}

.supperOfferBox .body .spesification .priceRow
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.supperOfferBox .body .spesification .priceRow .price
{
    background-color: #23232380;
    margin-left: 50px;
    border-radius: 25px;
    color: white;
    font-size: 1.2em;
    padding: 3px 20px;
}

.supperOfferBox .body .spesification .priceRow .off
{
    background-color: #23232382;
    color: white;
    padding: 5px 20px;
    border-radius: 25px;
}

.supperOfferBox .body .spesification .title
{
    margin: 40px 0px;
    font-weight: bold;
    color: white;
    font-size: 1.5em;

}

.supperOfferBox .body .spesification .counterDown
{
    border-top: 1px solid rgba(255, 255, 255, 0.559);
    margin: 10px 40px;
    padding-top: 20px;
    font-weight: bold;
    color: white;
    font-size: 1.5em;
}

.supperOfferBox .body .spesification .reminderTime
{
    color: #333;
    font-size: 0.9em;
}

.banner
{
    text-align: center;
    padding:0px 5px;
}

.banner img
{
    border-radius: 5px;
    box-shadow:0px 2px 8px 0px rgba(255, 255, 255, 0.788) ;
    width:100%;
    height: 400px;
}

/*End od Special Offer*/
